In [12]:
def polynome(x):
    x2 = x**x
    return x2 + x - 5

In [13]:
polynome(10)

10000000005

In [15]:
from math import log #on importe 1 fct existante
def log_base(x, base=10):
    return log(x) / log(base)

y= log_base(1000) #identique à y = log_base(1000,2)
z= log_base(1000, 2) #logarithme en base deux
y,z

(2.9999999999999996, 9.965784284662087)

In [63]:
def calcul(x):
    y = x**2
    z = x + y
    return a
    
print(a) #déclenche une exception

NameError: name 'a' is not defined

In [21]:
a = 2

def test():
    global a
    a = 3
    return print("intérieur du test", a)
    
test()
print("après test", a)

intérieur du test 3
après test 3

In [26]:
def recursive(x):
    if x / 2 < 1:
        print("je m'appelle pas pour x=", x)
        return 1
    else:
        print("je m'appelle pour x=", x)
        return recursive (x/2) + 1

recursive(10)

je m'appelle pour x= 10
je m'appelle pour x= 5.0
je m'appelle pour x= 2.5
je m'appelle pas pour x= 1.25

4

In [34]:
s1 = "Du passe faisons table rase"
l1 = [i for i in s1]
l2 = s1.split("as")
l3 = s1.split()

In [37]:
print(l1[0], l1[1], l1[2], l1[3])
print(l2)
print(l3)

D u   p
['Du p', 'se faisons table r', 'e']
['Du', 'passe', 'faisons', 'table', 'rase']

In [43]:
l1 = ['H', 'e', 'l', 'l', 'o', ' ', 'w']
l2 = ['Du', 'passe', 'faisons', 'table', 'rase']
s1 = "".join(l1)
s2 = " ".join(l2)

print(s1)
print(s2)

Hello w
Du passe faisons table rase

In [44]:
s1 = "Faisons table rase"
s2 = s1[:8].lower() + s1[8:13].upper()
print(s2)

faisons TABLE

In [46]:
s1 = "Ce texte contient deux fois le mot texte."
print(s1.find('texte', 0))
print(s1.find('texte', 4))
print(s1.find('texte', 36))

3
35
-1

In [45]:
s1 = "ce texte contient deux fois le mot texte."
max = 0
while max > -1:
    max = s1.find('texte', max+1)
    print(max)

3
35
-1

In [52]:
s1 = "Le prix est de deux euros."
i = s1.index('euros')
print(i)
print(s1[:i-5])
s2 = s1[:i-5] + '$' + s1[i-5:i]
print(s2)
j = s2.find('deux')
print(j)
s3 = s2[:j] + '2.15' + s2[j+4:]
print(s3)

20
Le prix est de
Le prix est de $deux
16
Le prix est de $2.15

In [53]:
s1 = "Le prix est de deux euros."
s2 = s1.replace('deux euros', '$2.15')
print(s2)

Le prix est de $2.15.

In [54]:
s = '300 seulement ?'
l = s.split()
for mot in l:
    if mot.isalpha():
        print('mot')
    if mot.isnumeric():
        print('nombre')
    if not mot.isalnum():
        print('?')

nombre
mot
?

In [79]:
from re import findall
s = "Le PIB l'Argentine baisse depuis 3 ans"
l1 = findall('[A-Z][a-z]+', s)
l2 = findall('[a-zA-Z]*[iI][a-zA-Z]*', s)
print(l1)
print(l2)

['Le', 'Argentine']
['PIB', 'Argentine', 'baisse', 'depuis']

In [17]:
from re import findall
motif = '0[1-9](?:[\s\.]?[0-9]{2}){4}'
n1= "0678828383,"
n2= "09.34.67.12.11,"
n3= "03 11 23 20 38,"
n4= "03 11 30 23,"
n5= "03. 34 25 2010,"
n6= "03-26-28-45-37"
s= n1+n2+n3+n4+n5+n6
print(findall(motif, s))

['0678828383', '09.34.67.12.11', '03 11 23 20 38']

In [107]:
from re import sub
s = 'Un texte <strong>HTML </strong> avec des balises'
s += ' et même <script type="texte/javascript">'
s += 'var i = 5;</script> du javascript dedans.'
s1 = sub('<[a-z]*>', '', s)
print(s1)

Un texte HTML </strong> avec des balises et même <script type="texte/javascript">var i = 5;</script> du javascript dedans.

In [53]:
from re import sub
s = 'Un texte <strong>HTML</strong> avec des balises'
s += ' et même <script type="texte/javascript">'
s += 'var i = 5;</script> du javascript dedans.'
s1 = sub('<.*>', '', s)
s2 = sub('<[a-z\\/"=\s]*>', '', s)
s3 = sub('<[^>]*>', '', s)
print(s1)
print(s2)
print(s3)

Un texte  du javascript dedans.
Un texte HTML avec des balises et même var i = 5; du javascript dedans.
Un texte HTML avec des balises et même var i = 5; du javascript dedans.

In [29]:
def hascap(s):
    s1 = s.split()
    for i in s1:
        if ord(i[0]) > 65 and ord(i[0]) < 90:
            print(i)

hascap("Le PIB l'Argentine baisse depuis 3 ans")

Le
PIB

In [13]:
def inflation(s):
    s1 = s.split()
    for indice, mot in enumerate(s1):
        if mot.isnumeric():
            s1[indice] = str(int(mot) * 2)
    phrase = " ".join(s1)
    return phrase
        
        
inflation("Le prix est de 20 euros")

'Le prix est de 40 euros'

In [60]:
#entree: longue chaines de caractère
#traitement slicing en liste de mot
#creation d'1 liste vide lignes
#pour tout mot ds la liste:
    #ajout un espace au mot
    #si longeur du last element de la liste vide + longeur du mot < 24:
        #ajoute le mot au dernier element de la liste ligne(+=mot)
    #si non : ajoute le mot en tant que dernier element de la liste
#sortie: liste ligne
phrase = "Onze ans déjà que cela passe vite. Vous vous étiez servis simplement de vos armes la mort n‘éblouit pas les yeux des partisans."
liste = phrase.split()
lignes = []
for mot in liste:
    s = mot + ' '
    if len(s) < 24:
        if lignes != [] and len(lignes[-1]) + len(s) < 24:
            lignes[-1] += s
        else:
            lignes.append(s)
print(lignes)

['Onze ans déjà que cela ', 'passe vite. Vous vous ', 'étiez servis ', 'simplement de vos ', 'armes la mort ', 'n‘éblouit pas les yeux ', 'des partisans. ']

In [69]:
#revoie la liste de tout les nbr d'1 chaîne de caractères (y compris décimaux et négatifs)
from re import findall
phrase = "Les 2 maquereaux alent 6.50 euros"
motif = '(?:-)?[1-9]+[?:.]?[0-9]*'
print(findall(motif, phrase))

['2', '6.50']

In [1]:
#fonction arrondi(s) qui ds la chaîne s troncature tout les nbr décimaux. on autorise le nbr négatifs
#() pour désigner des blocs de données ds l'expression rationnelle
#pour remplacer chacun des blocs l'expression est r'\1_\2_
from re import *

def tronc(s):
    motif = r"(-?)([0-9]+)[,.]?[0-9]*"
    return sub(motif, r"\1\2", s)
s = "L'evolution sur 3,5 jours est de 7.23 points"
print(tronc(s))

L'evolution sur 3 jours est de 7 points